*.ipynb
__pycache__
0_3/
3_5/
greaterthan5/
dssrstacks_0_3/
dssrstacks_3_5/
dssrpairs0_3/
dssrpairs3_5/
*.json
*.pt
*.tar.gz
!metrics/sampling_strategies_accuracies_by_method.json
*.cif
dssrpairs_test_pdbs/
test_pdbs/
dssrpairs_test_pdbs2/
test_pdbs2/
*preds.csv
test-on-high-low-pdb/
missing_residues.csv